<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="http://www.expressjs.com.cn/css/prism.css">
    <link href="//cdn.bootcss.com/prism/9000.0.1/themes/prism.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

    <header>
        <%- include components/nav %>
        <div class="header section">
            <div class="header-inner section-inner">
                <a href="" class="logo">
                  <img src="https://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/092011/book_chat_edit_copy.png?itok=o3d8yKAz" alt="">
                </a>

                <h1 class="blog-title">
                    <a href="">书写是为了更好的思考...</a>
                </h1>

                <div class="nav-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="clear"></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>

    <%- include components/notification %>
