<%- include header %>

    <div class="content">
        <div class="posts">
            <article class="post">
                <div class="post-inner">
                    <h2 style="text-align:center;"　class="title">　登　录　</h2>
                    <form method="post">
                        <label for="">用户名：</label>
                        <br>
                        <input type="text" name="name" />

                        <label for="">密码：</label>
                        <br>
                        <input type="password" name="password" />

                        <input type="submit" value="登录" />
                    </form>
                </div>
            </article>
        </div>
    </div>

<%- include footer %>
