<%- include header %>

    <div class="content">
        <div class="posts">
            <article class="post">
                <div class="post-inner">
                    <h2 style="text-align:center;" class="title">　注　册　</h2>
                    <form method="post">
                        <label for="">用户名：</label>
                        <br>
                        <input type="text" name="name" />

                        <label for="">密码：</label>
                        <br>
                        <input type="password" name="password" />

                        <label for="">确认密码：</label>
                        <br>
                        <input type="password" name="password-repeat" />

                        <label for="">邮箱：</label>
                        <br>
                        <input type="email" name="email" />

                        <input type="submit" value="注册" />
                    </form>
                </div>
            </article>
        </div>
    </div>
<%- include footer %>
